body {
  width: 100vw;
  margin: 0;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #acacac;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-button {
  width: 25%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2351a2;
  color: white;
  cursor: pointer;
}
